<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>BOJ Tier</title>
<link rel="stylesheet" type="text/css" href="/static/css/pure-min.css">
<link rel="stylesheet" type="text/css" href="/static/css/side-menu.css">
</head>
<body>
<div id="layout">

<div id="menu">
<div class="pure-menu">
<a class="pure-menu-heading" href="/">BOJ Tier</a>
<ul class="pure-menu-list">
<li class="pure-menu-item"><a class="pure-menu-link" href="/{{ 'user/' + me if me else 'login' }}/">Status</a></li>
<li class="pure-menu-item"><a class="pure-menu-link" href="/recommend/">Recommends</a></li>
<li class="pure-menu-item menu-item-divided"><a class="pure-menu-link" href="/login/">Login</a></li>
</ul>
</div>
</div>

<div id="main">
{% block content %}{% endblock %}
</div>

</div>
</body>
</html>

