{% extends 'base.html' %}
{% block content %}
<div class="header">
<h1>BOJ Tier</h1>
<h2>An unusual way to improve problem solving skills</h2>
</div>
<div class="content">
<h2 class="content-subhead">현재 베타버전입니다</h2>
<p>기능이 추가되거나 삭제될 수 있습니다. 원래 완성한 뒤에 오픈하려고 했는데, 예상보다 개발 기간이 길어져서 피드백을 받기 위해 미리 오픈했습니다.</p>
<p>예전 문제 추천 시스템을 이용하시려면 <a href="/acmicpc/">여기</a>를 방문해주세요. (불시에 닫을 수 있습니다)</p>
<p><a href="https://github.com/cubelover/BOJ-tier">github repository</a></p>
<p>추가할 기능을 건의하고 싶으시다면 github Issues에 달아주세요</p>
<h2 class="content-subhead">업데이트 내역</h2>
<p>2017년 9월 19일: 유저 페이지에 순위 표시, User API 추가</p>
<p>2017년 9월 5일: Chrome 확장 프로그램 추가, Prob API Tool 추가</p>
<p>2017년 8월 19일: Prob API 추가, Status에서 최근 푼 문제 난이도 추가, 없는 유저에 대해 에러 페이지 추가, 아이디 대소문자 구별 안 함</p>
<h2 class="content-subhead">Content</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
{% endblock %}
