{% extends 'base.html' %}
{% block content %}
<div class="header">
<h1>{{ u }}</h1>
<h2>{{ t }} TP</h2>
</div>
<div class="content">
<div class="pure-g">
<div class="pure-u-1-4">
<h2>Farming</h2>
<table class="pure-table pure-table-bordered">
<thead>
<tr>
<th>#</th>
<th>Difficulty</th>
</tr>
</thead>
<tbody>
{% for p, q in d %}
<tr>
<td><a href="https://www.acmicpc.net/problem/{{ p }}">{{ p }}</a></td>
<td>{{ '%0.3f' % q }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<div class="pure-u-1-4">
<h2>Easy</h2>
<table class="pure-table pure-table-bordered">
<thead>
<tr>
<th>#</th>
<th>Difficulty</th>
</tr>
</thead>
<tbody>
{% for p, q in a %}
<tr>
<td><a href="https://www.acmicpc.net/problem/{{ p }}">{{ p }}</a></td>
<td>{{ '%0.3f' % q }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<div class="pure-u-1-4">
<h2>Appropriate</h2>
<table class="pure-table pure-table-bordered">
<thead>
<tr>
<th>#</th>
<th>Difficulty</th>
</tr>
</thead>
<tbody>
{% for p, q in b %}
<tr>
<td><a href="https://www.acmicpc.net/problem/{{ p }}">{{ p }}</a></td>
<td>{{ '%0.3f' % q }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
<div class="pure-u-1-4">
<h2>Challenging</h2>
<table class="pure-table pure-table-bordered">
<thead>
<tr>
<th>#</th>
<th>Difficulty</th>
</tr>
</thead>
<tbody>
{% for p, q in c %}
<tr>
<td><a href="https://www.acmicpc.net/problem/{{ p }}">{{ p }}</a></td>
<td>{{ '%0.3f' % q }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
{% endblock %}
